<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="danylenko.stanislav.noteefication">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".NoteeficationApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_my"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_my_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.NotesTabActivity"/>
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/Theme.Transparent"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".handler.ButtonReceiver">
            <intent-filter>
                <action android:name="com.example.cancel" />
            </intent-filter>
        </receiver>

        <receiver android:name=".handler.EditReceiver">
            <intent-filter>
                <action android:name="com.example.edit" />
            </intent-filter>
        </receiver>

        <service
            android:name=".startup.StartupService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver
            android:name=".startup.BootReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="StartMyServiceAtBootReceiver">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.REBOOT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>